.tooltip {
    display: inline;
    position: relative;
    z-index: 999;
}

.tooltip-item {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px;
    border-bottom: 1px dotted #000;
    font-size: 1.2em; /* Increased font size */
}

.tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 300px;
    left: 50%;
    margin: 0 0 20px -150px;
    bottom: 100%;
    text-align: left;
    font-size: 1em; /* Increased font size */
    line-height: 1.4;
    box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
    background: #2a3035;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    transform: translate3d(0,-10px,0);
    transition: opacity 0.3s, transform 0.3s;
}

.tooltip-content.active {
    pointer-events: auto;
    opacity: 1;
    transform: translate3d(0,0,0);
}

.tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2a3035;
    border-width: 10px;
    margin-left: -10px;
}

.tooltip-text {
    font-size: 0.9em;
    line-height: 1.35;
    display: block;
    padding: 1.31em 1.21em 1.21em 1.21em;
    color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.tooltip-text .long-number {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}

@media (max-width: 600px) {
    .tooltip-content {
        width: 200px;
        margin-left: -100px;
    }
}